body{
    background-color:whitesmoke;
}

.wrapper{
    text-align: center;
}
.btn-group{
    margin: 0 auto; 
    display: inline-block;
}
#display{
    text-align: center;
    font-size: 100px;
}
ul{
    width: 70%;
    margin: auto;
    font-size: 24px;
    list-style-type: none;
}